/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
 
   
    border-radius: 5px;
    width: 400px;
    max-height: 80%;
    overflow-y: auto;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .modal-overlay button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #080808;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 25px;
  }
  
  .modal-overlay button:hover {
    background-color: #45a049;
  }
  
  .modal-receipt table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .modal-receipt th, .modal-receipt td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .modal-receipt th {
    font-weight: bold;
  }
  
  .modal-receipt td {
    font-size: 14px;
  }
  
  