.suppliers_form , .suppliers_form form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
input,button{
    border-radius: 10px;
   
}
input{
    padding-left: 10px;
}
a{
    text-decoration: none;
}
li{

    list-style: none;
}
.quantity button{
border: none;
background:transparent;
height:auto
}