/* Dark Theme Styles */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
flex-direction: row;
gap: 10px;
  padding: 20px;
  
}

.items-section, .cart-section {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  width: 48%;
}

.items-section h1, .cart-section h2 {
  text-align: center;
}
.items-list {
  max-height: 300px;  /* Adjust height as needed */
  overflow-y: auto;
  border: 1px solid #444; /* Optional: for better visibility */
  padding: 10px;
}

.cart-list {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #444;
  padding: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #444;
}
.cart-section button{
  background-color: red
  ;
}

button {
  background-color: #098509;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #388031;
}

.total_section {
  text-align: center;
  margin-top: 20px;
}
.total_section button{
  background-color: #1665be;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .items-section, .cart-section {
    width: 100%;
    margin-bottom: 20px;
  }
}
